# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app
*.exp
*.tlog
*.sdf
*.opensdf
*.ipch
*.idb
build/lite-d.lib
build/lite.lib
